@import "reset";
@import "variables/global.scss";
@import "themes/light.scss";
@import "themes/dark.scss";

.app {
    font: var(--font-m);
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}



// Scroll

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);
    border-radius: 20px;
    border: 2px solid var(--primary-color);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--inverted-secondary-color) var(--inverted-bg-color);
}