* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
option,
select {
    margin: 0;
    font: inherit;
}

a {
    text-decoration: none;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
  
li {
    margin: 0;
    padding: 0;
}
