.Page {
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 85px);
    flex: 1;
    flex-shrink: 100;

    border: 3px solid var(--primary-color);
    border-radius: 20px;

    margin-left: 20px;
    margin-right: 20px;

}

@media screen and (max-width: 1270px) {
    .Page {
        height: calc(100vh - 140px);
    }
}