.ImageSlider {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 400px;
    max-height: 400px;
    overflow-y: hidden;
    align-self: center;

    border: 3px solid var(--secondary-color);
    border-radius: 20px;

    img {
        width: 100%;
        min-height: 360px;
    }

    @media screen and (max-width: 1270px) {
        width: 90%;
        min-height: 200px;
        max-height: 200px;

        img {
            width: 100%;
            min-height: 200px;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        min-height: 200px;
        max-height: 200px;

        img {
            width: 100%;
            min-height: 200px;
        }
    }
}
