.LoginForm {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 60%;
}

.error {
    color: red;
}

.loginButton {
    margin-top: 10px;
    width: 20%;
    margin-left: auto;
}

.registerWrapper {
    margin-top: 40px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

@media screen and (max-width: 748px) {

    h3 {
        font-size: 17px;
    }

    .LoginForm {
        width: 90%;
    }

    .loginButton {
        width: 40%;
    }

    .registerWrapper {
        font-size: var(--font-size-m);
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 321px) {

    .registerWrapper {
        text-align: center;
        flex-direction: column;
        font-size: var(--font-size-m);
    }  
}