.ResumePage {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resumeField {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resumeFieldValue {
    color: var(--secondary-color);
    font-weight: bold;
}

.changeBtn {
    margin-top: 20px;
}