.Footer {
    width: 100%;
    height: 60px;
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.link {
    width: 40px;
    height: 40px;
}

.icon {
    fill: var(--inverted-primary-color);
    width: 100%;
    height: 100%;
    fill: var(--inverted-primary-color);
    stroke: var(--inverted-primary-color);
    stroke-width: 2;
}

.burger {
    margin-left: auto;
}


@media screen and (min-width: 1270px) {
    .Footer {
        display: none;
    }
}