.Button {
    padding: 7px;
    cursor: pointer;
    max-width: 100%;

    &:hover {
        opacity: 0.7;
    }
}

.background {
    background: var(--bg-color);
    border-radius: 20px;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    border-radius: 20px;
    color: var(--inverted-primary-color);
    border: 2px solid var(--inverted-secondary-color);
}

.clear {
    background: transparent;
    color: var(--primary-color);
    border: none;
}

.clear_inverted {
    background: transparent;
    color: var(--inverted-primary-color);
    border: none;
}