.Sidebar {
    width: 20%;
    position: relative;
    background: var(--inverted-bg-color);
    border-radius: 20px;
    margin-left: 20px;
    height: calc(100vh - 85px);
    transition: width 0.4s ease; 

    &.collapsed {
        width: 5%;
    }
}

.foldWrapper {
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 25px;
}


@media screen and (max-width: 1270px) {
    .Sidebar {
        display: none;
    }
}