.Input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding: 15px;
    color: var(--primary-color);

    &:focus {
        outline: none;
        border: 3px solid var(--secondary-color);
    }
}

.default {
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}

.readonly {
    opacity: 0.7;
    border: none;
}

.emptyError{
    border: 2px solid red;
}