.Article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.backBtn {
    width: 10%;
}

.authorAvatar {
    width: 150px;
    height: 150px;
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-top: 20px;
}

.subtitle {
    text-align: center;
    color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 5px;
}

.date {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.icon {
    width: 20px;
    height: 20px;
}

.iconPen {
    width: 20px;
    height: 20px;
    stroke: var(--bg-color);
    fill: var(--inverted-bg-color);
    stroke-width: 1;
}