.ProfileData {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.profileDataTitle {
    border-bottom: 5px solid var(--primary-color);
    padding-bottom: 15px;
}

.profileField {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 5px;
}

.inputError {
    border: 2px solid red;
}

.error {
    color: red;
}

.profileFieldValue {
    border: none;

    &:focus {
        border: none;
    }
}