.ArticlesList.SMALL {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.ArticlesList.BIG {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dropDownEng {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px;
    width: 86px;
}

.dropDownRu {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px;
    width: 145px;
}