.SidebarLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
    align-items: center;
    
    &.collapsed {
        margin-top: 80px;
    }
}

.appLink {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    fill: var(--inverted-primary-color);
    stroke: var(--inverted-primary-color);
    stroke-width: 2;
}

p {
    &.collapsed {
        display: none;
    }

    &.collapsing {
        display: none;
    }
}