.app_dark_theme {
    --bg-color: #4E5355;
    --inverted-bg-color: #F4F5FB;
    --primary-color: #F4F5FB;
    --secondary-color: #afafb3;
    --inverted-primary-color: #61626A;
    --inverted-secondary-color: #7d8486;

    // skeleton
    --skeleton-color: rgba(0 0 0 / 20%);
    --skeleton-shadow: #fff;
    // 
    --card: #737474;
    --card-secondary:#8e8f8f;
}