.app_light_theme {
    --bg-color: #F4F5FB;
    --inverted-bg-color: #4E5355;
    --primary-color: #61626A;
    --secondary-color: #4E5355;
    --inverted-primary-color: #F4F5FB;
    --inverted-secondary-color: #afafb3;
}