.Navbar {
    width: 100%;
    height: 60px;
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.name {
    color: var(--inverted-primary-color);
}

.nameMobile {
    color: var(--inverted-primary-color);
    display: none;
}

.login {
    margin-left: auto;
}

@media screen and (min-width: 748px) and (max-width: 1270px) {
    .nameMobile {
        display: none;
    }
}

@media screen and (max-width: 748px) {
    .Navbar {
        gap: 15px;
    }

    .nameMobile {
        display: block;
    }

    .name {
        display: none;
    }
}

