.Navbar {
    width: 100%;
    height: 60px;
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



.switcher {
    position: relative;
    display: flex;
    cursor: pointer;
    padding: 2px;
    align-items: center;
    margin-left: 10px;
    width: 56px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--bg-color);
    overflow: hidden;
}

.moon, .sun {
    flex: 1;
}

.switcherBtn {
    position: absolute;
    background: var(--primary-color);
    width: 50%;
    height: 90%;
    border-radius: 50%;
    left: 2px;
    transition: left 0.3s ease;
}

.clicked {
    left: calc(50% - 3px)
}