.TextBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-top: 1px solid var(--primary-color);
    padding-top: 10px;
}

.parWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}

.paragraphs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.paragraph {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.icon {
    width: 25px;
    height: 25px;
    stroke: var(--primary-color);
    stroke-width: 2;
    fill: var(--bg-color);
}

.blockInput {
    display: flex;
    gap: 10px;
    align-items: center;
}

.blockTextArea {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.paragraphP {
    margin-right: auto;
}

.textArea {
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    padding: 5px;
    resize: none;

    background-color: transparent;
    border: 1px solid var(--primary-color);

    &:focus {
        border: 2px solid var(--secondary-color);
        outline: none;
    }
}

.paragraphBtn {
    margin-left: auto;
}


.saveBtn {
    margin-top: 20px;
    width: 30%;
    margin: 0 auto;
}

@media screen and (max-width: 748px) {
    .saveBtn {
        margin-top: 40px;
        width: 70%;
    }
}

