.CreateArticleType {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 2px solid var(--primary-color);
    padding: 15px;
}

.types {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.type {
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
        scale: 1.1;
    }
}

.active {
    background: var(--card-secondary);
}